/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-font: IBM Plex Mono;
  --main-text-color: #f1b2ce;
  --main-bg-color: #000028;
  --regular-font-weight: 400;
  --bold-font-weight: 700;
  --font-size: 18px;
  --acent-text-color: #000028;
  --accent-color: #ff0070;
  --title-font-color: #db00ff;
  --line-height: 23.4px;
  --bg-image: url(../images/cover-image-dark.png);
  --hover: rgba(255, 0, 112, 0.4);
  --button-color: #ff0070;
}

:root.theme_dark {
  --main-font: IBM Plex Mono;
  --main-text-color: #f1b2ce;
  --main-bg-color: #000028;
  --regular-font-weight: 400;
  --bold-font-weight: 700;
  --font-size: 18px;
  --acent-text-color: #000028;
  --accent-color: #ff0070;
  --title-font-color: #db00ff;
  --line-height: 23.4px;
  --bg-image: url(../images/cover-image-dark.png);
  --hover: rgba(255, 0, 112, 0.4);
  --button-color: #ff0070;
}

.page.theme_dark .header__decoration-element {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .header__decoration-element {
    display: block;
  }

  :root {
    --main-text-color: #f1b2ce;
    --main-bg-color: #000028;
    --acent-text-color: #000028;
    --accent-color: #ff0070;
    --title-font-color: #db00ff;
    --hover: rgba(255, 0, 112, 0.4);
    --button-color: #ff0070;
  }
}
