:root {
  --main-font:  'IBM Plex Mono', 'Monospace', sans-serif ;
  --main-text-color: #f1b2ce;
  --main-bg-color: #000028;
  --regular-font-weight: 400;
  --bold-font-weight: 700;
  --font-size: 18px;
  --acent-text-color: #000028;
  --button-color: #ff0070;
  --accent-color: #ff0070;
  --title-font-color: #db00ff;
  --line-height: 23.4px;
  --bg-image: url(../images/cover-image-dark.png);
  --hover: rgba(255, 0, 112, 0.4);
  --focus: #ff0070;
}


